In [1]:
import json
import pprint
import pandas as pd
from sklearn.utils import shuffle
import urllib.request
import json
import hashlib

def write_df_to_json(df, filename, columnList):
    df = shuffle(df)
    with open(filename, "w") as f:
        for index, row in df.iterrows():
            obj = {}
            for column in columnList:
                obj[column] = row[column]
                
            f.write(json.dumps(obj))
            f.write("\n")
    
total_questions_hashed = 0
def get_ids_for_range(start, count):
    Ids = []
    questions_hashed = 0
    for i in range(start, start + count ):
        hash_object = hashlib.md5(str(i).encode())
        Ids.append(hash_object.hexdigest())
        questions_hashed += 1
    return Ids, questions_hashed

def convert_int_answer_to_int(x):
    x = str(x)
    if(x[-2:] == ".0"):
        return x[:-2]
    else:
        return x

# Add sub

In [2]:
file = open("Raw_data_files/add_sub.txt")
add_sub_data = json.load(file)

All_Questions = [x["sQuestion"] for x in add_sub_data]
All_Answers = [x["lSolutions"][0] for x in add_sub_data]
All_Others = [{"lEquations" : x["lEquations"], "semantics": x["semantics"]} for x in add_sub_data]

dictionary = {
    "Question" : All_Questions,
    "Answer" : All_Answers,
    "Others" : All_Others,
}
df_add_sub = pd.DataFrame(dictionary)

def func(x):
    equation = x["lEquations"][0]
    operation = ""
    if("+" in equation):
        operation += "+"
    if("-" in equation):
        operation += "-"
    if("*" in equation):
        operation += "*"
    if("/" in equation):
        operation += "/"
    return operation
    
df_add_sub["Operation"] = df_add_sub["Others"].apply(func)

print(df_add_sub.shape)
df_add_sub.head()

(392, 4)

,Question,Answer,Others,Operation
0,Joan found 70 seashells on the beach . she gav...,43,"{'lEquations': ['X = 70 - 27'], 'semantics': [...",-
1,There were 28 bales of hay in the barn . Tim s...,26,"{'lEquations': ['X = 54 - 28'], 'semantics': [...",-
2,Mary is baking a cake . The recipe wants 8 cup...,6,"{'lEquations': ['X = 8 - 2'], 'semantics': [{'...",-
3,Sara 's high school played 12 basketball games...,8,"{'lEquations': ['X = 12 - 4'], 'semantics': [{...",-
4,There are 22 walnut trees currently in the par...,33,"{'lEquations': ['X = 55 - 22'], 'semantics': [...",-

# single op

In [3]:
file = open("Raw_data_files/single_op.txt")
single_op_data = json.load(file)
All_Questions = [x["sQuestion"] for x in single_op_data]
All_Answers = [x["lSolutions"][0] for x in single_op_data]
All_Others = [{"lEquations" : x["lEquations"], "lAllignments": x["lAlignments"]} for x in single_op_data]

dictionary = {
    "Question" : All_Questions,
    "Answer" : All_Answers,
    "Others" : All_Others,
}
df_single_op = pd.DataFrame(dictionary)


df_single_op["Operation"] = df_single_op["Others"].apply(func)
print(df_single_op.shape)
df_single_op.head()

(562, 4)

,Question,Answer,Others,Operation
0,Darius drove 679 miles to visit his grandmoth...,1677.0,"{'lEquations': ['X=(679.0+998.0)'], 'lAllignme...",+
1,Gumballs come in packages of 5. Nathan ate 20 ...,4.0,"{'lEquations': ['X=(20.0/5.0)'], 'lAllignments...",/
2,If Harold split 15 apples between 3 people in ...,5.0,"{'lEquations': ['X=(15.0/3.0)'], 'lAllignments...",/
3,George has 2 boxes of blocks. Each box holds 6...,12.0,"{'lEquations': ['X=(2.0*6.0)'], 'lAllignments'...",*
4,Eric wants to split a collection of peanuts in...,8.0,"{'lEquations': ['X=(64.0/8.0)'], 'lAllignments...",/

# multiarith

In [4]:
file = open("Raw_data_files/multi_arith.json")
multi_arith_data = json.load(file)
All_Questions = [x["sQuestion"] for x in multi_arith_data]
All_Answers = [x["lSolutions"][0] for x in multi_arith_data]
All_Others = [{"lEquations" : x["lEquations"], "lAllignments": x["lAlignments"]} for x in multi_arith_data]

dictionary = {
    "Question" : All_Questions,
    "Answer" : All_Answers,
    "Others" : All_Others,
}
df_multi_arith = pd.DataFrame(dictionary)
df_multi_arith["Operation"] = df_multi_arith["Others"].apply(func)
print(df_multi_arith.shape)
df_multi_arith.head()

(600, 4)

,Question,Answer,Others,Operation
0,For Halloween Debby and her sister combined t...,39.0,"{'lEquations': ['X=((32.0+42.0)-35.0)'], 'lAll...",+-
1,A pet store had 13 siamese cats and 5 house c...,8.0,"{'lEquations': ['X=((13.0+5.0)-10.0)'], 'lAlli...",+-
2,Luke was trying to expand his game collection...,2.0,"{'lEquations': ['X=((2.0+2.0)-2.0)'], 'lAllign...",+-
3,The school cafeteria ordered 42 red apples an...,40.0,"{'lEquations': ['X=((42.0+7.0)-9.0)'], 'lAllig...",+-
4,Lana picked 36 tulips and 37 roses to make fl...,3.0,"{'lEquations': ['X=((36.0+37.0)-70.0)'], 'lAll...",+-

# single eq

In [5]:
file = open("Raw_data_files/single_eq.json")
single_eq_data = json.load(file)
All_Questions = [x["sQuestion"] for x in single_eq_data]
All_Answers = [x["lSolutions"][0] for x in single_eq_data]
All_Others = [{"lEquations" : x["lEquations"]} for x in single_eq_data]

dictionary = {
    "Question" : All_Questions,
    "Answer" : All_Answers,
    "Others" : All_Others,
}
df_single_eq = pd.DataFrame(dictionary)
df_single_eq["Operation"] = df_single_eq["Others"].apply(func)
print(df_single_eq.shape)

df_single_eq.head()

(508, 4)

,Question,Answer,Others,Operation
0,Joan found 70 seashells on the beach. she gave...,43.0,{'lEquations': ['70-x=27']},-
1,There were 28 bales of hay in the barn. Tim st...,26.0,{'lEquations': ['28+x=54']},+
2,"After eating at the restaurant, Sally, Sam, an...",135.0,{'lEquations': ['45*3=x']},*
3,Mary is baking a cake. The recipe wants 8 cups...,6.0,{'lEquations': ['8=2+x']},+
4,Sara's high school played 12 basketball games ...,8.0,{'lEquations': ['12=x+4']},+

In [6]:
df_combined = pd.concat([df_add_sub, df_single_op, df_multi_arith, df_single_eq])
df_combined["Operation"].value_counts()

+      604
-      400
*      233
+-     213
/      168
+*     131
-*     105
+/     104
-/     100
*/       2
+-*      1
         1
Name: Operation, dtype: int64

In [7]:
df_combined["Id"], questions_hashed = get_ids_for_range(1, df_combined.shape[0])
total_questions_hashed += questions_hashed
df_combined["Answer"] = df_combined["Answer"].apply(convert_int_answer_to_int)
df_combined.head()

,Question,Answer,Others,Operation,Id
0,Joan found 70 seashells on the beach . she gav...,43,"{'lEquations': ['X = 70 - 27'], 'semantics': [...",-,c4ca4238a0b923820dcc509a6f75849b
1,There were 28 bales of hay in the barn . Tim s...,26,"{'lEquations': ['X = 54 - 28'], 'semantics': [...",-,c81e728d9d4c2f636f067f89cc14862c
2,Mary is baking a cake . The recipe wants 8 cup...,6,"{'lEquations': ['X = 8 - 2'], 'semantics': [{'...",-,eccbc87e4b5ce2fe28308fd9f2a7baf3
3,Sara 's high school played 12 basketball games...,8,"{'lEquations': ['X = 12 - 4'], 'semantics': [{...",-,a87ff679a2f3e71d9181a67b7542122c
4,There are 22 walnut trees currently in the par...,33,"{'lEquations': ['X = 55 - 22'], 'semantics': [...",-,e4da3b7fbbce2345d7772b0674a318d5

In [8]:
questions_hashed, total_questions_hashed

(2062, 2062)

# Split data into stages

In [9]:
# Stage 1 

stage1_add_df = shuffle(df_combined[df_combined["Operation"] == "+"])

stage1_sub_df = shuffle(df_combined[df_combined["Operation"] == "-"])


# Stage 2

stage2_mul_df = shuffle(df_combined[df_combined["Operation"] == "*"])
stage2_div_df = shuffle(df_combined[df_combined["Operation"] == "/"])

# Stage 3 

stage3_add_sub = shuffle(df_combined[df_combined["Operation"] == "+-"])
stage3_add_mul = shuffle(df_combined[df_combined["Operation"] == "+*"])
stage3_sub_div = shuffle(df_combined[df_combined["Operation"] == "-/"])
stage3_add_div = shuffle(df_combined[df_combined["Operation"] == "+/"])
stage3_sub_mul = shuffle(df_combined[df_combined["Operation"] == "-*"])
# stage3_mul_div = shuffle(df_combined[df_combined["Operation"] == "*/"])

In [10]:
print(stage1_add_df.shape, stage1_sub_df.shape)
print(stage2_mul_df.shape, stage2_div_df.shape)
print(stage3_add_sub.shape, stage3_add_mul.shape, stage3_sub_div.shape,  stage3_add_div.shape, stage3_sub_mul.shape)

(604, 5) (400, 5)
(233, 5) (168, 5)
(213, 5) (131, 5) (100, 5) (104, 5) (105, 5)

In [11]:
# Stage 1 

stage1_add_test_df = stage1_add_df.iloc[:10]
stage1_add_train_df = stage1_add_df.iloc[10:]
stage1_sub_test_df = stage1_sub_df.iloc[:10]
stage1_sub_train_df = stage1_sub_df.iloc[10:]
stage1_train_df = pd.concat([stage1_add_train_df, stage1_sub_train_df])
stage1_individual_test_df = pd.concat([stage1_add_test_df, stage1_sub_test_df])
stage1_individual_test_df["Stage"] = "stage1"
write_df_to_json(stage1_train_df, "./data/stage1_train.json", ["Question", "Answer", "Id"])

In [12]:
# Stage 2 

stage2_mul_test_df = stage2_mul_df.iloc[:10]
stage2_mul_train_df = stage2_mul_df.iloc[10:]

stage2_div_test_df = stage2_div_df.iloc[:10]
stage2_div_train_df = stage2_div_df.iloc[10:]

stage2_train_df = pd.concat([stage2_mul_train_df, stage2_div_train_df])

stage2_individual_test_df = pd.concat([stage2_mul_test_df, stage2_div_test_df])
stage2_individual_test_df["Stage"] = "stage2"
stage1_test_df = pd.concat([stage1_individual_test_df, stage2_individual_test_df])

write_df_to_json(stage2_train_df, "./data/stage2_train.json", ["Question", "Answer", "Id"])
write_df_to_json(stage1_test_df, "./data/stage1_test_with_answer.json", ["Question", "Answer", "Id", "Stage"])
write_df_to_json(stage1_test_df, "./data/stage1_test.json", ["Question", "Id"])

In [13]:
# Stage 3 total

stage3_add_sub_test_df = stage3_add_sub[:4]
stage3_add_sub_train_df = stage3_add_sub[4:]

stage3_add_mul_test_df = stage3_add_mul[:4]
stage3_add_mul_train_df = stage3_add_mul[4:]

stage3_sub_div_test_df = stage3_sub_div[:4]
stage3_sub_div_train_df = stage3_sub_div[4:]

stage3_add_div_test_df = stage3_add_div[:4]
stage3_add_div_train_df = stage3_add_div[4:]

stage3_sub_mul_test_df = stage3_sub_mul[:4]
stage3_sub_mul_train_df = stage3_sub_mul[4:]

stage3_train_df = pd.concat([stage3_add_sub_train_df, stage3_add_mul_train_df,
                            stage3_sub_div_train_df, stage3_add_div_train_df,
                            stage3_sub_mul_train_df])

stage3_individual_test_df = pd.concat([stage3_add_sub_test_df, stage3_add_mul_test_df,
                            stage3_sub_div_test_df, stage3_add_div_test_df,
                            stage3_sub_mul_test_df])

stage3_individual_test_df["Stage"] = "stage3"
stage2_test_df = pd.concat([stage2_individual_test_df, stage3_individual_test_df])

write_df_to_json(stage3_train_df, "./data/stage3_train.json", ["Question", "Answer", "Id"])
write_df_to_json(stage2_test_df, "./data/stage2_test_with_answer.json", ["Question", "Answer", "Id", "Stage"])
write_df_to_json(stage2_test_df, "./data/stage2_test.json", ["Question", "Id"])

# simuleq

In [14]:
# Extract simul-eq data

fp = urllib.request.urlopen("http://groups.csail.mit.edu/rbg/code/wordprobs/questions.json")
mybytes = fp.read()

mystr = mybytes.decode("utf8")
simul_eq_data = json.loads(mystr)
simul_eq_data[0]

{'iIndex': 2598,
 'sQuestion': 'A writing workshop enrolls novelists and poets in a ratio of 5 to 3. There are 24 people at the workshop. How many novelists are there? How many poets are there?',
 'lEquations': ['3.0*novelists=5.0*poets', 'novelists+poets=24.0'],
 'lSolutions': [15.0, 9.0]}

In [15]:
def func(x):
    operation = ""

    for equation in x["lEquations"]:
        if("+" in equation):
            operation += "+"
        if("-" in equation):
            operation += "-"
        if("*" in equation):
            operation += "*"
        if("/" in equation):
            operation += "/"
    return ''.join(sorted(operation)) 

All_Questions = [x["sQuestion"] for x in simul_eq_data]
All_Answers = [x["lSolutions"] for x in simul_eq_data]
All_Others = [{"lEquations" : x["lEquations"]} for x in simul_eq_data]

dictionary = {
    "Question" : All_Questions,
    "Answer" : All_Answers,
    "Others" : All_Others,
}
df_simul_eq = pd.DataFrame(dictionary)

def answer_func(x):
    if(len(x) == 1):
        return convert_int_answer_to_int(x[0])
    elif(len(x) == 2):
        s = [convert_int_answer_to_int(i) for i in x] 
        return ",".join(s)
              
df_simul_eq["Answer"] = df_simul_eq["Answer"].apply(answer_func)
df_simul_eq["Operation"] = df_simul_eq["Others"].apply(func)

df_simul_eq.drop(df_simul_eq[df_simul_eq["Operation"] == "+"].index, inplace = True)
df_simul_eq.drop(df_simul_eq[df_simul_eq["Operation"] == "-"].index, inplace = True)
df_simul_eq.drop(df_simul_eq[df_simul_eq["Operation"] == "*"].index, inplace = True)
df_simul_eq.drop(df_simul_eq[df_simul_eq["Operation"] == "/"].index, inplace = True)

df_simul_eq["Id"], questions_hashed = get_ids_for_range(total_questions_hashed + 1, df_simul_eq.shape[0])
total_questions_hashed += questions_hashed


df_simul_eq["Answer"] = df_simul_eq["Answer"].apply(convert_int_answer_to_int)
df_simul_eq = shuffle(df_simul_eq)

print(df_simul_eq.shape)
df_simul_eq.head()

(492, 5)

,Question,Answer,Others,Operation,Id
131,You have 30 total items that consist of hats a...,"10,20",{'lEquations': ['(9.0*boots)+(5.0*hats)=190.0'...,*++,1c6a0198177bfcc9bd93f6aab94aad3c
231,"Two cars leave the same point , traveling in o...",3.5,{'lEquations': ['(52.0*hours)+(58.0*hours)=385...,*+,ae1eaa32d10b6c886981755d579fb4d8
490,"On a canoe trip , Rita paddled upstream at an ...","2.5,0.5",{'lEquations': ['speed_rita+speed_current=3.0'...,+-,217c0e01c1828e7279051f1b6675745d
227,The second of two numbers is 4 more than the f...,"26,30","{'lEquations': ['4.0+first=second', 'second+fi...",++,0f46c64b74a6c964c674853a89796c8e
385,A direct flight on delta air lines from Atlant...,"450,50","{'lEquations': ['(plane+wind)*8.0=4000.0', '(p...",**+-,cbf8710b43df3f2c1553e649403426df

In [16]:
questions_hashed, total_questions_hashed

(492, 2554)

In [17]:
stage4_individual_test_df = df_simul_eq.iloc[:20]
stage4_individual_test_df["Stage"] = "stage4"
stage4_train_df =  df_simul_eq.iloc[20:]

stage3_test_df = pd.concat([stage3_individual_test_df, stage4_individual_test_df])
write_df_to_json(stage4_train_df, "./data/stage4_train.json", ["Question", "Answer", "Id"])
write_df_to_json(stage3_test_df, "./data/stage3_test_with_answer.json", ["Question", "Answer", "Id", "Stage"])
write_df_to_json(stage3_test_df, "./data/stage3_test.json", ["Question", "Id"])

/Users/neerajvarshney/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy